@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@import "variables";
@import "transitions";
@import "primevue";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: var(--primary-font);
}

body {
  font-size: 1.5rem;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-50);
  border-radius: var(--radius-m);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius-m);
  background-color: var(--secondary-500);
}