/* Button */
.p-button {
  &-secondary{
    --p-button-secondary-background: var(--secondary-500);
    --p-button-secondary-border-color: var(--secondary-500);
    --p-button-secondary-color: var(--white);

    --p-button-secondary-hover-background: var(--secondary-600);
    --p-button-secondary-hover-border-color: var(--secondary-600);
    --p-button-secondary-hover-color: var(--white);

    --p-button-secondary-active-background: var(--secondary-700);
    --p-button-secondary-active-border-color: var(--secondary-700);
    --p-button-secondary-active-color: var(--white);
  }
}

/* Checkbox */
.p-checkbox {
  --p-checkbox-width: 1.7rem;
  --p-checkbox-height: 1.7rem;
}

/* Select */
.p-select {
  --p-select-dropdown-width: 3.5rem;
  &.underlined {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0 !important;
    --p-select-shadow: none;
  }
  &-label {
    font: var(--font-12-n);
    line-height: 1.5;
  }
}
.p-selectbutton .p-togglebutton {
  border-radius: var(--radius-s) !important;
  font: var(--font-14-b);
}

.p-menubar {
  --p-menubar-border-color: transparent;
  --p-menubar-mobile-button-size: 3rem;
  --p-icon-size: 2rem;
  --p-menubar-padding: 0;
}


/* Toast */
.p-toast {
  --p-toast-width: 30rem;
  &-summary {
    --p-toast-summary-font-size: 1.5rem;
    --p-toast-summary-font-weight: bold;
  }
  &-message-icon {
    --p-toast-icon-size: 2rem;
  }
  &-detail {
    --p-toast-detail-font-size: 1.3rem;
  }

  &-close-button {
    outline: none;
    border: 0;
  }
}

/* ToggleButton */
.p-togglebutton {
  font-size: 1.6rem;
  flex-grow: 1;
  --p-togglebutton-padding: 1.4rem 1.5rem 1.3rem;
  --p-togglebutton-checked-color: var(--primary-500);
  --p-togglebutton-hover-color: var(--primary-500);
  --p-togglebutton-font-weight: bold;
}

/* Card */
.p-card {
  --p-card-border-radius: var(--radius-m);
  --p-card-color: var(--primary-500);
  --p-content-color: var(--accent-text);
  --border-color: transparent;
  --p-card-body-padding: 1rem;

  border: 1px solid var(--border-color);
  transition: var(--transition-fast);
  &.secondary {
    --p-card-background: var(--primary-50);
    --p-card-color: var(--accent-text);
    --p-content-color: var(--primary-500);
    --p-card-body-padding: 1.2rem;
  }

  &.transparent {
    --p-card-body-padding: 0;
    --p-card-background: transparent;
    --p-card-shadow: none;
  }

  .p-card-content {
    color: var(--p-content-color);
    &:empty {
      display: none;
    }
  }
}

/*Dialog */
.p-dialog {
  width: 100%;
  &.xsm {
    max-width: 31rem;
  }

  &.sm {
    max-width: 64rem;
  }

  &.md {
    max-width: 128rem;
  }

  &.lg {
    max-width: 160rem;
  }

  &.full {
    max-width: 100%;
  }

  &-title {
    color: var(--primary-500);
  }
}

.p-inputnumber-button {
  --p-inputnumber-button-border-color: transparent;
  --p-inputnumber-button-hover-border-color: transparent;
  --p-inputnumber-button-active-border-color: transparent;

  --p-inputnumber-button-background: var(--secondary-500);
  --p-inputnumber-button-hover-background: var(--secondary-600);
  --p-inputnumber-button-active-background: var(--secondary-700);

  --p-inputnumber-button-color: var(--white);
  --p-inputnumber-button-hover-color: var(--white);
  --p-inputnumber-button-active-color: var(--white);

  --p-inputnumber-button-width: 3.2rem;
}

.p-inputtext, .p-inputgroupaddon {
  --p-inputtext-border-color-hover-border-color: var(--primary-100);
  --p-inputtext-border-color-active-border-color: var(--primary-100);
  &.underlined {
    --p-inputtext-padding-y: .7rem;
    --p-inputtext-padding-x: 0rem;
    --p-inputtext-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
  }
}
.p-textarea {
  &.underlined {
    --p-textarea-padding-x: 0;
    --p-textarea-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
  }
}

.p-inputgroupaddon {
  color: var(--accent-text);
}

.p-popover {
  --p-popover-content-padding: 0;
  &:before, &:after {
    display: none;
  }
}

.p-inputnumber.amount {
  .p-inputnumber-button {
    min-height: 3.8rem;
  }
  .p-inputnumber-input {
    width: 3.8rem !important;
    max-width: 3.8rem;
    flex: none;
    font: var(--font-14-n);
    text-align: center;
  }
}

.p-chip.p-component {
  --p-chip-background: linear-gradient(94deg,  rgba(20, 95, 208, 1) 5%, rgba(1, 158, 229, 1) 90%);
  color: var(--white);
  position: relative;
  &:before {
    content: '';
    pointer-events: none;
    position: absolute;
    inset: 0;
    transform: translate(-3px, -3px);
    border: 1px solid rgba(20, 95, 208, 1);
    border-radius: var(--radius-xl);
  }
}
