/* Button */
.p-button {
  &-label {
    font: var(--font-14-n);
  }

  &-secondary{
    --p-button-secondary-background: var(--secondary-500);
    --p-button-secondary-border-color: var(--secondary-500);
    --p-button-secondary-color: var(--white);

    --p-button-secondary-hover-background: var(--secondary-600);
    --p-button-secondary-hover-border-color: var(--secondary-600);
    --p-button-secondary-hover-color: var(--white);

    --p-button-secondary-active-background: var(--secondary-700);
    --p-button-secondary-active-border-color: var(--secondary-700);
    --p-button-secondary-active-color: var(--white);
  }
}

/* Checkbox */
.p-checkbox {
  --p-checkbox-width: 1.7rem;
  --p-checkbox-height: 1.7rem;
}

/* Select */
.p-select {
  --p-select-dropdown-width: 3.5rem;
  &-label {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.p-menubar {
  --p-menubar-border-color: transparent;
  --p-menubar-mobile-button-size: 3rem;
  --p-icon-size: 2rem;
  --p-menubar-padding: 0;
}


/* Toast */
.p-toast {
  --p-toast-width: 30rem;
  &-summary {
    --p-toast-summary-font-size: 1.8rem;
  }
  &-message-icon {
    --p-toast-icon-size: 2rem;
  }
  &-detail {
    --p-toast-detail-font-size: 1.3rem;
  }

  &-close-button {
    outline: none;
    border: 0;
  }
}